<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

<!--    <test name="Regression tests">-->
<!--        <parameter name="browserName" value="chrome"/>-->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="end-to-endTests"/>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="tests.PositiveTests"/>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="Positive test">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="tests.NegativeTests">
            </class>
        </classes>
    </test>

<!--    <test name="API">-->
<!--        <parameter name="browserName" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="tests.ApiTesting"/>-->
<!--        </classes>-->
<!--    </test>-->


</suite>
